# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

BACKEND_CHAT_URL=http://127.0.0.1:8000/api/chat/
